/* Stylesheet by Melissa Crocker, 2020 */
    body {
    font-family: sans-serif;
	}
	
    h1 {
    text-align: center;
    }

	#wrapper {
    z-index: 3;
    position:relative; 
    height: 960px;
    width: 1300px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 275px;
    top: 0px;
	}

    #info {
     position: absolute;
     background: white;
     width: 275px;
     height: 960px;
     color:black;
    }

	#map {
	 height: 600px;
	 margin: 0px auto;
	}
    .legend, .temporal-legend {
   		padding: 6px 10px;
    		font: 14px/16px Arial, Helvetica, sans-serif;
   		background: white;
    		background: rgba(255,255,255,0.8);
    		box-shadow: 0 0 15px rgba(0,0,0,0.2);
    		border-radius: 5px;
	}
	#legendTitle {
  	  	text-align: center;
   	 	margin-bottom: 15px;
   		font-variant: small-caps;
	}
	.symbolsContainer {
    		float: left;
		margin-left: 50px;
	}
	.legendCircle {
     	border-radius:50%; 
     	border: 1px solid #F0605D; 
     	background: rgba(240, 148, 148, .6);
	 	display: inline-block;
	}
	.legendValue {
    		position: absolute;
    		right: 8px;
	}